.container {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr, 1fr;
  row-gap: 10px;
}

.btn {
  width: 75px;
  height: 30px;
  display: block;
  margin: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
}

.title {
  grid-column: 1 / -1;
  justify-items: center;
  align-items: center;
  justify-self: center;
}
